<div class="common-page">
  <div class="title">
    <h1>Bienvenue</h1>
    <p>Vous étes arrivé(e) à la croisé des chemins</p>
  </div>
  <div class="content">
    <div id="pillule-bleu">
      <%= link_to "Allez sur le site officiel", "http://www.akairaion.net/", :target => "_blank" %>
    </div>
    <div id="pillule-rouge">
      <%= link_to "Continuer vers le bac à sable", croix_index_url %>
    </div>
  </div>
</div>
<%#
user_signed_in?
# => true / false
current_user
# => User instance / nil %>
