/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "croix/index";
@import "home/index";
@import "components/index";
@import "home/index";
@import "devise/index";


body {
  margin: 0 4 0 4;
  padding: 0 4 0 4;
  background: rgba(128, 128, 128, 0.241) url(asset_path("BigLion-300x300.png")) no-repeat center center;
}

a {
  margin: 0;
  color: #214A7B;
  text-decoration: none;
  font-size: 24px;
  transition: 1s ease;
}
