// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.common-page{
  margin: 0;
  padding: 0;
  height: 90vh;
  background-color: rgba(140, 87, 87, 0.159);
}
.title{
  color: red;
}

.content{
  color: blue;
  background-color: rgb(206, 206, 206);
}
